---
kolla_database_password: "CHANGEME_DATABASE_PASSWORD"
kolla_rabbitmq_password: "CHANGEME_RABBITMQ_PASSWORD"
keystone_admin_password: "CHANGEME_KEYSTONE_ADMIN_PASSWORD"
keystone_database_password: "CHANGEME_KEYSTONE_DATABASE_PASSWORD"
glance_database_password: "CHANGEME_GLANCE_DATABASE_PASSWORD"
nova_database_password: "CHANGEME_NOVA_DATABASE_PASSWORD"
neutron_database_password: "CHANGEME_NEUTRON_DATABASE_PASSWORD"
metadata_secret: "CHANGEME_METADATA_SECRET"
